@model RCBC.Models.DPUStatusModel
@{
    ViewData["Title"] = "Reports";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">DPU Status Inquiry</a></li>
                        <li class="breadcrumb-item active">Reports</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="d-flex justify-content-center">

                <div class="col-md-12">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user pr-2"></i>DPU Status Inquiry</h3>
                        </div>



                        <div class="card-body">

                            <form id="frmSearchDPU" class="p-2" novalidate="novalidate">

                                @Html.HiddenFor(x => x.Id)

                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelForModel("Date From", new { @class = "label-control" })
                                            @Html.TextBoxFor(x => x.DateFrom, new { @class = "form-control", type = "date" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelForModel("Date To", new { @class = "label-control" })
                                            @Html.TextBoxFor(x => x.DateTo, new { @class = "form-control", type = "date" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelForModel("LocationCode", new { @class = "label-control" })
                                            @Html.TextBoxFor(x => x.LocationCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelForModel("Beneficiary Name", new { @class = "label-control" })
                                            @Html.TextBoxFor(x => x.BeneficiaryName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelForModel("Account Number", new { @class = "label-control" })
                                            @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelForModel("Status", new { @class = "label-control" })
                                            @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2 pt-4">
                                        <div class="form-group pt-2">
                                            <button type="button" id="btnSearch" class="btn btn-primary mr-2"><i class="fa fa-search"></i>Search</button>
                                            <button type="button" id="btnClear" class="btn btn-danger">Clear</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <div class="row pl-2">
                                <button type="button" id="btnExcel" class="btn btn-success mr-2"><i class="fas fa-file-excel" style="font-size: x-large;"></i></button>
                                <button type="button" id="btnPdf" class="btn btn-danger mr-2"><i class="fas fa-file-pdf" style="font-size: x-large;"></i></button>
                                <button type="button" id="btnCsv" class="btn btn-info mr-2"><i class="fas fa-file-csv" style="font-size: x-large;"></i></button>
                                <button type="button" id="btnPrint" class="btn btn-secondary mr-2"><i class="fas fa-print" style="font-size: x-large;"></i></button>
                            </div>

                            <div class="row pb-3 pt-3">
                                <div class="col-md-12">
                                    <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                        <table id="tbl_DPU_Status" class="table table-bordered table-hover text-center" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            @*    <div class="d-flex justify-content-end">
                            <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
                            <button type="button" id="btnCancel" class="btn btn-danger ml-3">Cancel</button>
                            </div> *@
                        </div>
                    </div>
                </div>

            </div>
        </div><!--/. container-fluid -->
    </section>

</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script>
        $(document).ready(function () {

            LoadDPUStatus();
            function LoadDPUStatus() {

                var DateFrom = $("[name='DateFrom']").val();
                var DateTo = $("[name='DateTo']").val();
                var LocationCode = $("[name='LocationCode']").val();
                var BeneficiaryName = $("[name='BeneficiaryName']").val();
                var AccountNumber = $("[name='AccountNumber']").val();
                var Status = $("[name='Status']").val();

                $('#tbl_DPU_Status').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: false,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Reports/LoadDPUStatus",
                        "type": "POST",
                        "data": { DateFrom: DateFrom, DateTo: DateTo, LocationCode: LocationCode, BeneficiaryName: BeneficiaryName, AccountNumber: AccountNumber, Status: Status },
                        "datatype": "JSON",
                    },
                    drawCallback: function (settings) {
                        if (settings.json != undefined) {
                            var json = settings.json;
                            var Total = 0.00;

                            for (var i = 0; i < json.data.length; i++) {
                                // Total = Total + parseFloat(json.data[i].amount.replace(",", ""));
                                Total = Total + parseFloat(json.data[i].amount);
                            }
                            var TotalAmount = "";
                            if (Total != undefined) {
                                TotalAmount = (Total).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                                TotalAmountFormat('tbl_DPU_Status', TotalAmount, 8);
                            }
                        }
                    },
                    columns:
                        [
                            { "data": "no", title: "No.", sClass: "text-center", orderable: false },
                            { "data": "locationCode", title: "Location Code", sClass: "text-center", orderable: false },
                            { "data": "locationName", title: "Location Name", sClass: "text-center", orderable: false },
                            {
                                "data": "transactionDate", title: "Transaction Date", sClass: "text-center", render: function (data, type, row) {
                                    return DateDataTable(data);
                                }
                            },
                            {
                                "data": "transactionTime", title: "Transaction Time", sClass: "text-center", render: function (data, type, row) {
                                    return TimeDataTable(data);
                                }
                            },
                            { "data": "cardNumber", title: "Card Number", sClass: "text-center", orderable: false },
                            { "data": "accountNumber", title: "Account Number", sClass: "text-center", orderable: false },
                            { "data": "beneficiaryName", title: "Beneficiary Name", sClass: "text-center", orderable: false },
                            { "data": "amount", title: "Amount", sClass: "text-center", orderable: false, render: $.fn.dataTable.render.number(',', '.', 2, '₱ ') },
                            { "data": "creditDescription", title: "Credit Description", sClass: "text-center", orderable: false },
                            { "data": "externalReference", title: "External Reference", sClass: "text-center", orderable: false },
                            { "data": "status", title: "Status", sClass: "text-center", orderable: false },

                        ]
                });

                $('#tbl_DPU_Status tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass("dtactive")) {
                        $(this).parent().find("tr").removeClass("dtactive");
                        $(this).addClass("dtactive");
                        Id = SelectedValue("tbl_DPU_Status", "id");
                        $("[name='Id']").val(Id);
                    } else {
                        $(this).removeClass("dtactive");
                        $("[name='Id']").val(0);
                    }
                });
            }

            function DownloadDPUStatus(Type) {

                var DateFrom = $("[name='DateFrom']").val();
                var DateTo = $("[name='DateTo']").val();
                var LocationCode = $("[name='LocationCode']").val();
                var BeneficiaryName = $("[name='BeneficiaryName']").val();
                var AccountNumber = $("[name='AccountNumber']").val();
                var Status = $("[name='Status']").val();

                $('#loading-image').show();
                $.ajax({
                    url: "../Reports/DownloadDPUStatus",
                    data: { Type: Type, DateFrom: DateFrom, DateTo: DateTo, LocationCode: LocationCode, BeneficiaryName: BeneficiaryName, AccountNumber: AccountNumber, Status: Status },
                    type: "GET",
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res);
                        if (res.success) {
                            Swal.fire({
                                title: 'Downloading Completed!',
                                html: `File Path: ${res.downloadPath}<br>File Name: ${res.fileName}<br><br>Open the file location manually in your file explorer.`,
                                icon: 'success'
                            });
                        } else {
                            Swal.fire('Warming!', res.message, 'warning');
                        }
                        $('#loading-image').hide();
                    },
                    error: function () {
                        console.log("Error in downloading data.");
                    }
                });
            }

            $("#btnExcel").click(function (e) {
                e.preventDefault();
                DownloadDPUStatus("EXCEL");
            });

            $("#btnPdf").click(function (e) {
                e.preventDefault();
                DownloadDPUStatus("PDF");
            });

            $("#btnCsv").click(function (e) {
                e.preventDefault();
                DownloadDPUStatus("CSV");
            });

            $("#btnPrint").click(function (e) {
                e.preventDefault();
                window.print();
            });

            $("#btnSearch").click(function (e) {
                e.preventDefault();

                $('#loading-image').show();

                LoadDPUStatus();

                $('#loading-image').hide();
            });

            $("#btnClear").click(function (e) {
                e.preventDefault();
                $("#frmSearchDPU").trigger("reset");
            });

        });

        ActiveMenu("#dpu_status");

    </script>
}

