<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCBC</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/fontawesome/css/font-awesome-fonts.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- date-range-picker -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/daterangepicker/daterangepicker.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- fullCalendar -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/fullcalendars/main.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/summernote/summernote-bs4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css">
    @*<link rel="stylesheet" href="~/lib/admin-lte/parsley/parsley.css">*@

    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" style="background-image: url('../images/background.jpg'); background-size: cover;">

    @if (ViewData["Title"].ToString() != "Login")
    {
        <div class="wrapper">
            @Html.Partial("_Header")
            @Html.Partial("_SideBar")
            @Html.Partial("_Footer")
        </div>
    }
    @Html.Partial("_Signout")

    @RenderBody()
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTable -->
    <script src="~/lib/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
    <!-- Select2 -->
    <script src="~/lib/admin-lte/plugins/select2/js/select2.full.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/lib/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lib/admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/admin-lte/dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/lib/admin-lte/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/lib/admin-lte/plugins/raphael/raphael.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/lib/admin-lte/plugins/chart.js/Chart.min.js"></script>
    <!-- fullCalendar -->
    <script src="~/lib/admin-lte/plugins/moment/moment.min.js"></script>
    <script src="~/lib/admin-lte/plugins/fullcalendars/main.js"></script>
    <!-- jquery-validation -->
    <script src="~/lib/admin-lte/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- summernote -->
    <script src="~/lib/admin-lte/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/lib/admin-lte/dist/js/demo.js"></script>*@
    <script src="~/lib/admin-lte/swal/sweetalert2@9.js"></script>
    <script src="~/lib/admin-lte/mask/jquery.mask.js"></script>
    <script src="~/lib/admin-lte/mask/jquery.masking.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)

    <div id="loading-image" style="position: fixed; left: 0px; top: 35%; width: 100%; height: 100%; text-align: center; display: none;">
        <img class="loader" style="height:15%" src="@Url.Content("~/images/ajax-loading.gif")" alt="Loading" />
    </div>


</body>
</html>
