    <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4 bg-light-blue">
    <!-- Brand Logo -->
    <a href="" class="brand-link text-center bg-light-blue">
        <span class="brand-text font-weight-light">RCBC DPU</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/lib/admin-lte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="" class="d-block">@ViewBag.UserId</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @foreach (ModuleModel item in ViewBag.Modules)
                {
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="@item.ModuleIcon"></i>
                            <p>
                                @item.Module
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>

                        @foreach (SubModuleModel sub in ViewBag.SubModules)
                        {
                            @if (@item.ModuleId == sub.ModuleId)
                            {
                                if (sub.Link != null)
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a id="@sub.DivId" href="@Url.Content(sub.Link)" class="nav-link">
                                                <i class="@sub.SubModuleIcon"></i>
                                                <p>@sub.SubModule</p>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a id="@sub.DivId" href="#" class="nav-link">
                                                <i class="@sub.SubModuleIcon"></i>
                                                <p>
                                                    @sub.SubModule
                                                    <i class="fas fa-angle-left right"></i>
                                                </p>
                                            </a>
                                            @foreach (ChildModuleModel child in ViewBag.ChildModules)
                                            {
                                                if (@sub.SubModuleId == child.SubModuleId)
                                                {
                                                    <ul class="nav nav-treeview">
                                                        <li class="nav-item">
                                                            <a id="@child.DivId" href="@Url.Content(child.Link)" class="nav-link">
                                                                <i class="@child.ChildModuleIcon"></i>
                                                                <p>@child.ChildModule</p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                }
                                            }

                                        </li>
                                    </ul>
                                }
                            }
                        }

                    </li>

                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->