    <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4 bg-light-blue">
    <!-- Brand Logo -->
    <a href="" class="brand-link text-center bg-light-blue">
        <span class="brand-text font-weight-light">RCBC DPU</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/lib/admin-lte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="" class="d-block">@ViewBag.Username</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fa fa-shopping-bag"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="dashboard" href="@Url.Content("~/Home/Dashboard")" class="nav-link active">
                                <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-folder-open-o"></i>
                        <p>
                            Maintenance
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a id="maintenance" href="#" class="nav-link">
                                <i class="fa fa-user nav-icon ml-2"></i>
                                <p>
                                    User Maintenance
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a id="view_users" href="@Url.Content("~/Maintenance/ViewAllUsers")" class="nav-link">
                                        <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                        <p>View All Users</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="create_user" href="@Url.Content("~/Maintenance/CreateNewUser")" class="nav-link">
                                        <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                        <p>Create New User</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="user_approval" href="@Url.Content("~/Maintenance/UserApproval")" class="nav-link">
                                        <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                        <p>User Approval</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="reset_password" href="@Url.Content("~/Maintenance/ResetPassword")" class="nav-link">
                                        <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                        <p>User Password Reset</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a id="role" href="#" class="nav-link">
                                <i class="fa fa-user-times nav-icon ml-2"></i>
                                <p>
                                    Role Maintenance
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a id="create_role" href="@Url.Content("~/Maintenance/CreateNewRole")" class="nav-link">
                                        <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                        <p>Create New Role</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-file-o"></i>
                        <p>
                            Reports
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a id="reports" href="@Url.Content("~/Reports/Reports")" class="nav-link">
                                <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                <p>Reports</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-tasks"></i>
                        <p>
                            Parameters
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a id="parameters" href="@Url.Content("~/Parameters/Parameters")" class="nav-link">
                                <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                <p>Parameters</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-refresh"></i>
                        <p>
                            Recon
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a id="recon" href="@Url.Content("~/Recon/Recon")" class="nav-link">
                                <i class="fa fa-arrow-right nav-icon ml-2"></i>
                                <p>Recon</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->