@model RCBC.Models.PartnerVendorModel
@{
    ViewData["Title"] = "Partner Vendor Maintenance";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">Partner Vendor Approval</a></li>
                        <li class="breadcrumb-item active">Maintenance</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="d-flex justify-content-center">

                <div class="col-md-12">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user pr-2"></i>Partner Vendor Approval</h3>
                        </div>

                        <div class="card-body">

                            <div class="row pb-3 pt-3">
                                <div class="col-md-12">
                                    <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                        <table id="tbl_partner_vendor" class="table table-bordered table-hover text-center" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div id="modal_view_vendor" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md pt-5">

            <div class="modal-content">
                <div class="modal-header bg-light-blue">
                    <h4 class="modal-title" id="modal_name_vendor"><i class="fa fa-handshake-o pr-2"></i>Approved Partner Vendor</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <form id="form_partner" novalidate="novalidate">

                    <div class="p-3">
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.Active)
                        @Html.HiddenFor(x => x.IsApproved)
                        @Html.HiddenFor(x => x.ForApproval)
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelForModel("Vendor Name", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.VendorName, new { @class = "form-control", placeholder = "Vendor Name", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(x => x.VendorName)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelForModel("Vendor Code", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.VendorCode, new { @class = "form-control", placeholder = "Vendor Code", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(x => x.VendorCode)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelForModel("Assigned GL", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.AssignedGL, new { @class = "form-control", placeholder = "Assigned GL", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(x => x.AssignedGL)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelForModel("Email", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        @Html.CheckBoxFor(x => x.Active, new { @id = "Active", @disabled = "disabled" })
                                        @Html.Label("Active", "Active Status")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary float-right">Approved</button>
                            <button type="button" class="btn btn-danger ml-3 float-right" id="btnCancel">Cancel</button>
                        </div>

                    </div>

                </form>

            </div>

        </div>
    </div>

    <div id="modal_client_changes" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md pt-5">

            <div class="modal-content">
                <div class="modal-header bg-light-blue">
                    <h4 class="modal-title" id="modal_name"><i class="fa fa-address-book-o pr-2"></i>Changes Details</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="p-3">

                    <div class="row pb-3 pt-3">
                        <div class="col-md-12">
                            <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                <table id="tbl_changes_details" class="table table-bordered table-hover text-center" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" id="btnCancelChanges" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.content-wrapper -->
@section Scripts
    {
    <script>
        $(document).ready(function () {

            LoadPartnerVendors();
            function LoadPartnerVendors() {
                $('#tbl_partner_vendor').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Maintenance/LoadPartnerVendors",
                        "type": "GET",
                        "datatype": "JSON",
                    },
                    columns:
                        [
                            //{ "data": "id", title: "Vendor ID", sClass: "dt-body-center", orderable: false },
                            { "data": "vendorName", title: "Vendor Name", sClass: "dt-body-center", orderable: false },
                            { "data": "vendorCode", title: "Vendor Code", sClass: "dt-body-center", orderable: false },
                            { "data": "assignedGL", title: "Assigned GL", sClass: "dt-body-center", orderable: false },
                            { "data": "email", title: "Email", sClass: "dt-body-center", orderable: false },
                            {
                                "data": "active", title: "Status", sClass: "text-center", render: function (data, type, row) {
                                    if (data == true) {
                                        return '<span class="badge bg-success">Active</span>'
                                    }
                                    else {
                                        return '<span class="badge bg-danger">Inactive</span>'
                                    }
                                }
                            },
                            {
                                "data": "isApproved", title: "Is Approved", sClass: "text-center", render: function (data, type, row) {
                                    if (data == true) {
                                        return '<span class="badge bg-success">Approved</span>'
                                    }
                                    else {
                                        return '<span class="badge bg-danger">For Approval</span>'
                                    }
                                }
                            },
                            {
                                "data": "id", title: "Action", render: function (data) {
                                    return "<div class='row justify-content-center'>" +
                                        "<div class='dropdown dropleft'>" +
                                        "<button id='btnbars' type='button' class='btn btn-sm btn-primary btnbars' data-toggle='dropdown'>" +
                                        "<i class='fa fa-bars'></i>" +
                                        "</button> <div class='dropdown-menu'>" +
                                        "<div class='container fluid'> " +
                                        "<a id='btnUpdate' class='btn btn-success btn-sm fa fa-eye col-sm-12' style='margin-bottom: 3px; margin-top: 3px;'>" +
                                        "&nbspView Details</a>" +
                                        "<br />" +
                                        "<a id='btnDelete' class='btn btn-info btn-sm fa fa-exchange col-sm-12' style='margin-bottom: 3px; margin-top: 3px; color: white;'>" +
                                        "&nbspView Changes</a>" +
                                        "</div></div></div ></div>";
                                }
                            }
                        ]
                });

                $('#tbl_partner_vendor tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if ($(e.target).is("[id^=btnUpdate],[id^=btnUpdate] i")) {
                        UpdatePartnerVendor();
                    }
                    else if ($(e.target).is("[id^=btnDelete],[id^=btnDelete] i")) {
                        ViewPartnerChanges();
                    }
                    else if (!$(e.target).is("[id^=btnbars],[id^=btnbars] i")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                            Id = SelectedValue("tbl_partner_vendor", "id");
                            $("[name='Id']").val(Id);
                        } else {
                            $(this).removeClass("dtactive");
                            $("[name='Id']").val(0);
                            $("[name='Active']").val(false);
                        }
                    }
                });

            }

            function UpdatePartnerVendor() {
                if ($("[name='Id']").val() != 0) {
                    $.ajax({
                        url: "../Maintenance/UpdatePartnerVendor?Id= " + $("[name='Id']").val(),
                        type: "GET",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.data != null) {
                                $("#modal_view_vendor").modal("show");
                                $("[name='Id']").val(res.data.id);
                                $("[name='VendorName']").val(res.data.vendorName);
                                $("[name='VendorCode']").val(res.data.vendorCode);
                                $("[name='AssignedGL']").val(res.data.assignedGL);
                                $("[name='Email']").val(res.data.email);
                                $("[name='Active']").prop('checked', res.data.active);
                                $("[name='Active']").val(res.data.active);
                                $("[name='IsApproved']").val(true);
                                $("[name='ForApproval']").val(true);
                            }
                        }
                    });
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            }

            function ViewPartnerChanges() {
                if ($("[name='Id']").val() != 0) {
                    LoadChangesDetails();
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            }

            function LoadChangesDetails() {
                $.ajax({
                    url: "../Maintenance/LoadChangesDetails",
                    data: { Id: $("[name='Id']").val(), TableName: "PartnerVendor" },
                    type: "GET",
                    dataType: "JSON",
                    success: function (res) {
                        if (res.data.length === 0) {
                            Swal.fire('Information!', 'No Data changes for this record.', 'info');
                        } else {
                            $("#modal_client_changes").modal("show");
                            $('#tbl_changes_details').DataTable({
                                destroy: true,
                                responsive: true,
                                processing: false,
                                search: true,
                                stateSave: true,
                                info: true,
                                searching: true,
                                paging: true,
                                order: [[1, "asc"], [2, "asc"]],
                                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                                data: res.data,
                                columns: [
                                    { "data": "property", title: "Property", sClass: "dt-body-center", orderable: false },
                                    { "data": "oldValue", title: "Old Value", sClass: "dt-body-center", orderable: false },
                                    { "data": "newValue", title: "New Value", sClass: "dt-body-center", orderable: false },
                                ]
                            });
                        }
                    },
                    error: function () {
                        console.log("Error loading data.");
                    }
                });

                $('#tbl_changes_details tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if (!$(e.target).is(".view")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                        } else {
                            $(this).removeClass("dtactive");
                        }
                    }
                });
            }

            ValidateFormVendor();
            function ValidateFormVendor() {
                $.validator.setDefaults({
                    submitHandler: function () {
                        SavePartnerVendor();
                    }
                });
                $('#form_partner').validate({
                    rules: {
                        VendorName: {
                            required: true
                        },
                        VendorCode: {
                            required: true
                        },
                        AssignedGL: {
                            required: true
                        },
                        Email: {
                            required: true
                        },
                    },
                    messages: {
                        VendorName: {
                            required: "This field is required"
                        },
                        VendorCode: {
                            required: "This field is required"
                        },
                        AssignedGL: {
                            required: "This field is required"
                        },
                        Email: {
                            required: "This field is required"
                        },
                    },
                    errorElement: 'span',
                    errorPlacement: function (error, element) {
                        error.addClass('invalid-feedback');
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-invalid');
                        console.log(element);
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).removeClass('is-invalid');
                        console.log(element);
                    }
                });
            }

            function SavePartnerVendor() {
                $('#loading-image').show();
                var formData = $("#form_partner").serialize();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SavePartnerVendor", "Maintenance")',
                    data: formData,
                    success: function (response) {
                        if (response.success == true) {
                            $('#loading-image').hide();
                            Swal.fire('Success!', response.message, 'success');
                            $("[name='Id']").val(0);
                            $("#form_partner").trigger("reset");
                            $("#modal_view_vendor").modal("hide")
                            LoadPartnerVendors();
                        }
                        else {
                            Swal.fire('Warning!', 'Vendor Already Exists.', 'warning');
                        }
                    },
                    failure: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    }
                });
            }

            $("#btnCancel").click(function (e) {
                e.preventDefault();
                $("#form_partner").trigger("reset");
                $("#modal_view_vendor").modal("hide");
            });

            $("#btnCancelChanges").click(function (e) {
                e.preventDefault();
                $("#modal_client_changes").modal("hide");
            });

        });

        ActiveMenu("#partner_vendor");
        ActiveMenu("#partner_vendor_approval");

    </script>
}

