@{
    ViewData["Title"] = "User Access";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Maintenance</a></li>
                        <li class="breadcrumb-item active">User Access</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user pr-2"></i>User Details</h3>
                        </div>

                        <div class="card-body">

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <label>User ID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="usernameSearch">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-info btn-flat" id="btnSearch"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>User ID: </label><label class="text-primary ml-2" id="Username"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Employee Name: </label><label class="text-primary ml-2" id="EmployeeName"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Email: </label><label class="text-primary ml-2" id="Email"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mobile Number: </label><label class="text-primary ml-2" id="MobileNumber"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Group/Department: </label><label class="text-primary ml-2" id="GroupDept"></label>
                                </div>
                                <div class="col-md-4">
                                    <label>User Role: </label><label class="text-primary ml-2" id="UserRole"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-address-card-o pr-2"></i>User Access</h3>
                        </div>

                        <form id="frmAccess" class="p-2" novalidate="novalidate">
                            <input type="hidden" name="UserId" id="UserId" />
                            <div class="card-body" id="div_access">

                                @foreach (AccessModuleModel sub in ViewBag.ActiveAccess)
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- checkbox -->

                                            <div class="form-group clearfix">
                                                <div class="icheck-primary d-inline">
                                                    @if (sub.IsActive == true)
                                                    {
                                                        <input type="checkbox" class="check_access" id="@sub.SubModuleId" checked="checked">
                                                        @if (@sub.ChildModule == null)
                                                        {
                                                            <label for="@sub.SubModuleId">
                                                                @sub.Module > @sub.SubModule
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label for="@sub.SubModuleId">
                                                                @sub.Module > @sub.SubModule > @sub.ChildModule
                                                            </label>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="check_access" id="@sub.SubModuleId">
                                                        @if (@sub.ChildModule == null)
                                                        {
                                                            <label for="@sub.SubModuleId">
                                                                @sub.Module > @sub.SubModule
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label for="@sub.SubModuleId">
                                                                @sub.Module > @sub.SubModule > @sub.ChildModule
                                                            </label>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                                    <button type="button" class="btn btn-danger ml-3" id="btnCancel">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>

</div>
<!-- /.content-wrapper -->
@section Scripts
    {
    <script>
        $(document).ready(function () {

            $('#btnSearch').click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SearchUser", "Maintenance")',
                    data: {
                        "Username": $('#usernameSearch').val(),
                    },
                    success: function (response) {
                        console.log(JSON.stringify(response.data))

                        if (response.data.userId == null) {
                            Swal.fire('Information!', 'No records found!.', 'info');
                        }
                        else {
                            $('#Username').html(response.data.userId);
                            $('#EmployeeName').html(response.data.employeeName);
                            $('#Email').html(response.data.email);
                            $('#MobileNumber').html(response.data.mobileNumber);
                            $('#GroupDept').html(response.data.groupDept);
                            $('#UserRole').html(response.data.userRole);
                            $('#UserRole').val(response.data.userRole);
                            $('#UserId').val(response.data.id);

                            //$("#div_access").load("/Maintenance/UserAccess");
                            //$("#div_access").load('/Maintenance/UserAccess', function () {
                            //});
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            $('#usernameSearch').on('keyup', function (e) {
                if (e.key === 'Enter') {
                    $('#btnSearch').click();
                }
            });

            $('#btnSave').click(function (e) {
                e.preventDefault();
                if ($('#UserId').val() == "" || $('#UserRole').val() == "") {
                    Swal.fire('Warning!', 'Search an user first.', 'warning');
                }
                else {
                    SaveUserAccess();
                }
            });

            function SaveUserAccess() {
                var selectedModules = [];

                $('.check_access:checked').each(function () {
                    selectedModules.push($(this).attr('id'));
                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveUserAccess", "Maintenance")',
                    data: {
                        userId: $('#UserId').val(),
                        userRole: $('#UserRole').val(),
                        moduleIds: selectedModules
                    },
                    success: function (response) {
                        if (response.success == true) {
                            Swal.fire('Success!', response.message, 'success');
                            $("#frmAccess").trigger("reset");
                        }
                        else {
                            Swal.fire('Warning!', response.message, 'warning');
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }

        });

        ActiveMenu("#maintenance");
        ActiveMenu("#user_access");

    </script>
}

