@model RCBC.Models.UserModel
@{
    ViewData["Title"] = "User Maintenance";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">View All User</a></li>
                        <li class="breadcrumb-item active">Maintenance</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">


            <div class="d-flex justify-content-center">

                <div class="col-md-12">
                    <div class="card card-light-blue">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-users pr-2"></i>View All User</h3>
                        </div>

                        <div class="card-body">
                         @*   <input type="hidden" name="Id">*@
                            <div class="row pb-3 pt-3">
                                <div class="col-md-12">
                                    <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                        <table id="tbl_users" class="table table-bordered table-hover text-center" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                           
                        </div>
                    </div>
                </div>

            </div>
        </div><!--/. container-fluid -->
    </section>

    <!-- Modal -->
    <div id="modal_user" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md pt-5">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-light-blue">
                    <h4 class="modal-title" id="modal_name"><i class="fa fa-user pr-2"></i>Update User</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
             
                <form id="frmUsers" novalidate="novalidate">

                    <div class="modal-body">
                        @Html.HiddenFor(x => x.Id)
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelForModel("User ID", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.UserId, new { @class = "form-control", placeholder = "User ID" })
                                    @Html.ValidationMessageFor(x => x.UserId)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelForModel("Employee Name", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control", placeholder = "Employee Name" })
                                    @Html.ValidationMessageFor(x => x.EmployeeName)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelForModel("Email", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type="email", placeholder = "Email" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelForModel("MobileNumber", new { @class = "label-control" })
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", placeholder = "Mobile Number" })
                                    @Html.ValidationMessageFor(x => x.MobileNumber)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelForModel("Group/Department", new { @class = "label-control" })
                                    @Html.DropDownList("GroupDept", ViewBag.cmbDepartments as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.GroupDept)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelForModel("User Role", new { @class = "label-control" })
                                    @Html.DropDownList("UserRole", ViewBag.cmbUserRoles as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.UserRole)
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary float-right">Save</button>
                        <button type="button" class="btn btn-danger ml-3 float-right" id="btnCancel">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<!-- /.content-wrapper -->
@section Scripts
    {
    <script>
        $(document).ready(function () {

            ValidateForm();
            function ValidateForm() {
                $.validator.setDefaults({
                    submitHandler: function () {
                        Register();
                    }
                });
                $('#frmUsers').validate({
                    rules: {
                        UserId: {
                            required: true
                        },
                        EmployeeName: {
                            required: true
                        },
                        Email: {
                            required: true
                        },
                        MobileNumber: {
                            required: true
                        },
                    },
                    messages: {
                        UserId: {
                            required: "This field is required"
                        },
                        EmployeeName: {
                            required: "This field is required"
                        },
                        Email: {
                            required: "This field is required"
                        },
                        MobileNumber: {
                            required: "This field is required"
                        },
                    },
                    errorElement: 'span',
                    errorPlacement: function (error, element) {
                        error.addClass('invalid-feedback');
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-invalid');
                        console.log(element);
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).removeClass('is-invalid');
                        console.log(element);
                    }
                });
            }

            function Register() {
                $('#loading-image').show();
                var formData = $("#frmUsers").serialize();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Register", "Maintenance")',
                    data: formData,
                    success: function (response) {
                        if (response.success == true) {
                            $('#loading-image').hide();
                            Swal.fire('Success!', response.message, 'success');
                            $("#frmUsers").trigger("reset");
                            $("#modal_user").modal("hide");
                            LoadUsers();
                        }
                        else {
                            Swal.fire('Warning!', 'User Already Exists.', 'warning');
                        }
                    },
                    failure: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        $('#loading-image').hide();
                        alert(response.responseText);
                    }
                });
            }


            $('#btnCancel').click(function () {
                $("#frmUsers").trigger("reset");
                $("#modal_user").modal("hide");
            })

            LoadUsers();
            function LoadUsers() {
                $('#tbl_users').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Maintenance/LoadUsers",
                        "type": "GET",
                        "datatype": "JSON",
                    },
                    columns:
                        [
                            { "data": "userId", title: "UserId", sClass: "dt-body-center", orderable: false },
                            { "data": "employeeName", title: "Employee Name", sClass: "dt-body-center", orderable: false },
                            { "data": "email", title: "Email", sClass: "dt-body-center", orderable: false },
                            { "data": "mobileNumber", title: "Mobile Number", sClass: "dt-body-center", orderable: false },
                            { "data": "groupDept", title: "Group Department", sClass: "dt-body-center", orderable: false },
                            { "data": "userRole", title: "User Role", sClass: "dt-body-left", orderable: false },
                            {
                                "data": "id", title: "Action", render: function (data) {
                                    return "<div class='row justify-content-center'>" +
                                        "<div class='dropdown dropleft'>" +
                                        "<button id='btnbars' type='button' class='btn btn-sm btn-primary btnbars' data-toggle='dropdown'>" +
                                        "<i class='fa fa-bars'></i>" +
                                        "</button> <div class='dropdown-menu'>" +
                                        "<div class='container fluid'> " +
                                        "<a id='btnUpdate' class='btn btn-warning btn-sm fa fa-edit col-sm-12' style='margin-bottom: 3px; margin-top: 3px;'>" +
                                        "&nbspUpdate</a>" +
                                        "<br />" +
                                        "<a id='btnDelete' class='btn btn-danger btn-sm fa fa-trash col-sm-12' style='margin-bottom: 3px; margin-top: 3px; color: white;'>" +
                                        "&nbspDelete</a>" +
                                        "</div></div></div ></div>";
                                }
                            }
                        ]
                });

                $('#tbl_users tbody').off().on('click', 'tr', function (e) {
                    e.preventDefault();
                    if ($(e.target).is("[id^=btnUpdate],[id^=btnUpdate] i")) {
                        UpdateUser();
                    }
                    else if ($(e.target).is("[id^=btnDelete],[id^=btnDelete] i")) {
                        RemoveUser();
                    }
                    else if (!$(e.target).is("[id^=btnbars],[id^=btnbars] i")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                            Id = SelectedValue("tbl_users", "id");
                            $("[name='Id']").val(Id);
                        } else {
                            $(this).removeClass("dtactive");
                            $("[name='Id']").val(0);
                            $("#frmUsers").trigger("reset");
                        }
                    }
                });
            }

            function UpdateUser() {
                if ($("[name='Id']").val() != 0) {
                    $.ajax({
                        url: "../Maintenance/UpdateUser?Id= " + $("[name='Id']").val(),
                        type: "GET",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.data != null) {
                                $("#modal_user").modal("show");
                                $("[name='UserId']").val(res.data.userId);
                                $("[name='EmployeeName']").val(res.data.employeeName);
                                $("[name='Email']").val(res.data.email);
                                $("[name='MobileNumber']").val(res.data.mobileNumber);
                                $("[name='GroupDept']").val(res.data.groupDept);
                                $("[name='UserRole']").val(res.data.userRole);
                            }
                        }
                    });
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            }

            function RemoveUser() {
                if ($("[name='Id']").val() != 0) {
                    Swal.fire({
                        text: "Are you sure you want to delete this record?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#28a745',
                        cancelButtonColor: '#dc3545',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '../Maintenance/RemoveUser?&Id=' + $("[name='Id']").val(),
                                type: 'POST',
                                success: function (res) {
                                    if (res.success == true) {
                                        Swal.fire('Success!', 'Record has been deleted.', 'success');
                                        LoadUsers();
                                        $("[name='Id']").val(0);
                                    } else {
                                        Swal.fire('Error!', res.msg, 'error');
                                    }
                                }
                            });
                        }
                    });
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            }


        });

        ActiveMenu("#maintenance");
        ActiveMenu("#view_users");

    </script>
}

