@{
    ViewData["Title"] = "Dashboard";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">

    <div class="pl-3 pr-3 pt-3">
        <label>Last Login: @ViewBag.DateNow.ToString("MMMM dd, yyyy HH:mm:ss")</label>
    </div>

    <div class="ln_solid"></div>
    <!-- Content Header (Page header) -->
    <div class="content-header pt-0 pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                @if (ViewBag.DashboardDetails.GroupDescription.Contains("UAM/SISD"))
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.NoOfUsers </h3>

                                <p>No. of Users</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.ForApproval </h3>

                                <p>Waiting for Approval</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-circle-o"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/UserApproval")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.Approved </h3>

                                <p>Approved</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.Rejected </h3>

                                <p>Rejected</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-times"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                }
                else if (ViewBag.DashboardDetails.GroupDescription.Contains("GTB"))
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.NoOfUsers </h3>

                                <p>No. of Corporate Clients</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <a href="@Url.Content("/CorporateManagement/ViewClientDetails")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.ForApproval </h3>

                                <p>Waiting for Approval</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-circle-o"></i>
                            </div>
                            <a href="@Url.Content("/CorporateManagement/ClientApproval")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.Approved </h3>

                                <p>Approved</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus"></i>
                            </div>
                            <a href="@Url.Content("/CorporateManagement/ViewClientDetails")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.Rejected </h3>

                                <p>Rejected</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-times"></i>
                            </div>
                            <a href="@Url.Content("/CorporateManagement/ViewClientDetails")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                }
                else if (ViewBag.DashboardDetails.GroupDescription.Contains("RSC"))
                {
                    <div class="col-lg-4 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.NoOfUsers </h3>

                                <p>Transaction Date and Time</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.ForApproval </h3>

                                <p>No. of Transactions</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-circle-o"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/UserApproval")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.Approved </h3>

                                <p>Total Amount</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.NoOfUsers </h3>

                                <p>No. of Users</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.ForApproval </h3>

                                <p>Waiting for Approval</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-circle-o"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/UserApproval")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.Approved </h3>

                                <p>Approved</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3> @ViewBag.DashboardDetails.Rejected </h3>

                                <p>Rejected</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-times"></i>
                            </div>
                            <a href="@Url.Content("/Maintenance/ViewAllUsers")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                }

            </div>

        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script>


        ActiveMenu("#dashboard");
    </script>
}
